   #timePrepare_block {
        /*border-bottom: 1px solid #ccccff;*/
        margin: 2px 7px 2px 7px;
    }
    
    #time_block {
        /*border-bottom: 1px solid #ccccff;*/
        margin: 2px 7px 2px 7px;
    }
    
    #place_people_className_block {
        /*border-bottom: 1px solid #ccccff;*/
        margin: 2px 7px 2px 7px;
    }
    
    #placePrepare_classPrepare_soulBodyPare_block {
        /*border-bottom: 1px solid #ccccff;*/
        margin: 2px 7px 2px 7px;
    }
    
    #send {
        margin: 1px 1px 1px 1px;
    }